{
  "server": {"host":"127.0.0.1", "port":8000},
  "database": {"host":"localhost", "name":"monitoring", "port":27017, "username":"", "password":""},
  "monitoring":{"checkInterval":60, "checkTimeout":20, "testTimeout":20, "errorWarnRatio":0.1, "maxTestConcurrency":100},

  "users":[
    {"username":"user1", "password":"pass1", "email":"user1@example.com"},
    {"username":"user2", "password":"pass2", "email":"user2@example.com"}
  ],

  "services": [
    {"url":"http://www.example.com:80/monitor-stats", "key":"1234567890"},
    {"url":"http://analytics.example.com:2300/system-status", "key":"abccbbc"}
  ]
}